*{
	color: rgb(77, 77, 77);
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
}


.disable{
	display: none;
}
.start-block{
	position: relative;
	width: 500px;
	margin: 150px auto;
	padding: 50px 75px;
	-webkit-box-shadow: 0px 10px 72px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 72px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 72px -3px rgba(0,0,0,0.75);
	border-radius: 5px;
}

.highscore, .title, .score{
	text-align: center;
}

.titleGame{
	padding-top: 25px;
	margin: 0;
}

.pause{
	font-size: 18px;
	padding: 0;
	margin: 0;
	padding-bottom: 15px;
}

.score{
	padding: 0;
	margin: 0;
	position: absolute;
	color: rgba(255, 255, 255, 0.384);
	font-size: 100px;
	display: flex;
	width: 98%;
	height: 500px;
	justify-content: center;
	align-items: center;
	z-index: 3;
}

.level{
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	padding: 0;
}

.level li span{
	font-size: 20px;
	cursor: pointer;
	transition: all 0.3s;
}

.radio{
	display: none;
}

#easy:checked ~ .easy{
	color: #000;
	border-bottom: 1px solid #000;
}

#medium:checked ~ .medium{
	color: #000;
	border-bottom: 1px solid #000;
}

#hard:checked ~ .hard{
	color: #000;
	border-bottom: 1px solid #000;
}

.choise{
	color: #000;
	border-bottom: 1px solid #000;
}

.level li span:hover{
	color: rgb(0, 0, 0);
	border-bottom: 1px solid #000;
	text-shadow: 5px 5px 15px #000;
}

.start{
	display: block;
	margin: 0 auto;
	width: 150px;
	height: 40px;
	background: rgb(248, 248, 248);
	border: 2px solid rgb(77, 77, 77);
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: 20px;
	position: relative;
	cursor: pointer;
	transition: all 0.2s;
}

.start:hover{
	background: rgb(77, 77, 77);
	color: #fff;
	box-shadow: 0px 2px 22px -2px rgba(0,0,0,0.75);
}

.field{
	position: relative;
	width: 1000px;
	height: 500px;
	margin: 0 auto;
	background: rgb(8, 8, 8);
	display: flex;
	flex-wrap: wrap;
}

.field-pause{
	opacity: 0.6;
}

.excel{
	width: 20px;
	height: 20px;
}

.excel-snake{
	/* background: rgb(15, 128, 0); */
	background: rgb(216, 216, 216);
	border: 1px solid #000;
	z-index: 5;
}

.mouse{
	background: rgb(255, 255, 255);
	border-radius: 25px;
}

.head{
	background: rgb(238, 255, 0);
}